.env
.env.local
node_modules
dist
npm-debug.log
.DS_Store   
.vscode
.env.test
coverage
.idea
logs
*.log
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
.grunt
bower_components
.jest
.cache
.next
out
build
tmp
temp
*.local
*.env
*.swp
.sass-cache
connect-history-api-fallback
*.tgz
.yarn-integrity
.pnp.*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml

.yarn/install-state.gz
.yarnrc.yml
.pnpm-debug.log*
lerna-debug.log*
.env.development.local
.env.production.local
.env.test.local
.env.production
.env.staging
.env.testing
.env.demo
.env.production.test
.env.qa
.env.develop
.env.localtest  